[id$="lblICR_METIN_TEMPLATE"]{
    > .page-content{
        > .title{
            display: none;
        }
    }
}

//sayfalama
.urunPaging {
    margin: 70px 0 30px;
    font-family: $fontSite;
    font-size: 16px;
    font-weight: 700;
    color: $cl-purpleDark;
    td[align="center"] {
        width: 100% !important;
    }
    .paging {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        line-height: 40px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
    }
    span.paging {
        background: url(/images/frontend/blog/oval-f9c803.svg) no-repeat center center;
        background-size: contain;
    }
    .paging[id$="lnkPrev"], .paging[id$="lnkNext"] {
        width: 40px;
        font-size: 10px;
        color: $cl-pink;
        background: url(/images/frontend/blog/oval-820096.svg) no-repeat center center;
        background-size: contain;
    }
    .paging[id$="lnkPrev"] {
        margin-right: 15px;
    }
    .paging[id$="lnkNext"] {
        margin-left: 15px;
    }

    &.icerikListePagingUst, td[align="left"], td[align="right"] {
        display: none !important;
    }
}

//icerik kategori
.icerikKategoriListe {
    margin: 20px 0 30px;
    > ul {
        display: flex;
        justify-content: center;
        > li {
            width: auto !important;
            > b {
                display: none !important;
            }
            > a {
                display: block;
                margin: 0 5px;
                padding: 12px;
                font-family: $fontSite;
                font-size: 18px;
                color: $cl-purple;
                font-weight: 700;
                border-radius: 15px;
                background-color: $cl-White;
                transition: all .4s cubic-bezier(.8, 0, .5, 1);
                .icerikCount {
                    display: none !important;
                }
                &:hover{
                    background-color: #efe5f0;
                }
            }
            &.active {
                > a {
                    background-color: $cl-purpleDark;
                    color: $cl-White;
                }
            }
        }
    }
    .headerIcerikKategoriListe, .headerIcerikKategoriListeSgtAd {
        display: none !important;
    }
}

//icerik etiket
.etiketListe {
    position: relative;
    margin-top: 30px;
    .headerEtiketListe {
        display: none !important;
    }
    ul {
        display: flex;
        justify-content: center;
        > li {
            > a {
                display: block;
                padding: 16px;
                background-color: #f3f3f3;
                font-family: $fontSite;
                font-size: 15px;
                color: $cl-purple;
                font-weight: 700;
                border-left: 1px solid $cl-White;
                transition: all .4s cubic-bezier(.8, 0, .5, 1);
                &:hover{
                    background-color: #efe5f0;
                }
            }
            &:first-child {
                > a {
                    border-radius: 15px 0 0 15px;
                    border-left: none;
                }
            }
            &:last-child {
                > a {
                    border-radius: 0 15px 15px 0;
                }
            }
            &.selected {
                > a {
                    background-color: $cl-purple;
                    color: $cl-White;
                }
            }
        }
    }
}

//kategori & etiket gorsel
.icerikKategoriListe, .etiketListe {
    li {
        &.cat-img {
            > a {
                padding-left: 60px;
                background-repeat: no-repeat;
                background-position: 17px center;
                white-space: nowrap;
            }
            &.cat-tumu {
                display: none !important;
                > a {
                    background-image: url(/images/frontend/blog/cat-tumu.svg);
                    background-color: $cl-orangeDark;
                    color: $cl-White;
                    padding-left: 45px;
                    padding-right: 15px;
                    background-position: 10px center;
                    border-radius: 25px;
                }
            }
            &.cat-ailem {
                > a {
                    background-image: url(/images/frontend/blog/cat-ailem.svg);
                }
            }
            &.cat-aktivite-oyun {
                > a {
                    background-image: url(/images/frontend/blog/cat-aktivite-oyun.svg);
                }
            }
            &.cat-davranis-psikoloji {
                > a {
                    background-image: url(/images/frontend/blog/cat-davranis-psikoloji.svg);
                }
            }
            &.cat-gelisim {
                > a {
                    background-image: url(/images/frontend/blog/cat-gelisim.svg);
                }
            }
            &.cat-uyku {
                > a {
                    background-image: url(/images/frontend/blog/cat-uyku.svg);
                }
            }
            &.cat-bebek {
                > a {
                    background-image: url(/images/frontend/blog/tag-bebek.svg);
                }
            }
            &.cat-yeni-dogan {
                > a {
                    background-image: url(/images/frontend/blog/tag-yeni-dogan.svg);
                }
            }
            &.cat-yurumeye-baslayan {
                > a {
                    background-image: url(/images/frontend/blog/tag-yurumeye-baslayan.svg);
                }
            }
        }
        &.selected {
            &.cat-bebek {
                > a {
                    background-image: url(/images/frontend/blog/tag-bebek2.svg);
                }
            }
            &.cat-yeni-dogan {
                > a {
                    background-image: url(/images/frontend/blog/tag-yeni-dogan2.svg);
                }
            }
            &.cat-yurumeye-baslayan {
                > a {
                    background-image: url(/images/frontend/blog/tag-yurumeye-baslayan2.svg);
                }
            } 
        }
    }
}

//blog
.page-blog {
    .icerikTemplateListeContainer {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
        .icerikTemplateListeItem {
            width: calc(100% / 4);
        }
        @media screen and (min-width: $breakpointSM){//+960
            .icerikTemplateListeItem {
                &:nth-child(1),
                &:nth-child(3),
                &:nth-child(13),
                &:nth-child(15) {
                    width: calc(100% / 2);
                }
            }
        }
        .icerikTemplateListeEtiket {
            display: none !important;
        }
    }
}

.blog-title {
    display: block;
    padding: 85px 10px 25px;
    font-family: $fontSite;
    font-size: 40px;
    color: $cl-pink;
    font-weight: 700;
    text-align: center;
    .o {
        position: relative;
        visibility: hidden;
        &:before {
            content: "";
            background: url(/images/frontend/blog/letter-o.png) no-repeat center bottom;
            background-size: cover;
            position: absolute;
            bottom: 8px;
            z-index: 2;
            width: 27px;
            height: 96px;
            visibility: visible;
            animation-duration: .32s;
            animation-name: balloon;
        }
    }
}
@keyframes balloon {
    from {
        bottom: -40px;
        opacity: 0;
    }  
    to {
        bottom: 8px;
        opacity: 1;
    }
}

//blog post
.blog-post {
    position: relative;
    margin: 30px 10px;
    .post-url {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        font-size: 0;
    }
    .post-cat {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 34px;
        height: 34px;
        background: url(/images/frontend/blog/oval-eeeeee.svg) no-repeat;
        background-size: cover;
        &.cat-img {
            &:before {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -10px;
                margin-top: -10px;
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: 100%;
            }
            &.cat-ailem {
                background-image: url(/images/frontend/blog/oval-eeeeee.svg);
                &:before {
                    background-image: url(/images/frontend/blog/cat-ailem.svg);
                }
            }
            &.cat-aktivite-oyun {
                background-image: url(/images/frontend/blog/oval-eeeeee.svg);
                &:before {
                    background-image: url(/images/frontend/blog/cat-aktivite-oyun.svg);
                }
            }
            &.cat-davranis-psikoloji {
                background-image: url(/images/frontend/blog/oval-eeeeee.svg);
                &:before {
                    background-image: url(/images/frontend/blog/cat-davranis-psikoloji.svg);
                }
            }
            &.cat-gelisim {
                background-image: url(/images/frontend/blog/oval-eeeeee.svg);
                &:before {
                    background-image: url(/images/frontend/blog/cat-gelisim.svg);
                }
            }
            &.cat-uyku {
                background-image: url(/images/frontend/blog/oval-eeeeee.svg);
                &:before {
                    background-image: url(/images/frontend/blog/cat-uyku.svg);
                }
            }
        }
    }
    .post-img {
        display: block;
        width: 100%;
        border-radius: 10px;
    }
    .post-title {
        position: relative;
        font-family: $fontSite;
        font-size: 20px;
        color: $cl-purple;
        font-weight: 700;
        line-height: 1.2;
        margin: 0;
        padding: 12px 70px 12px 10px;
    }
    .btn-content-like {
        font-size: 22px;
        position: absolute;
        right: 10px;
        top: 50%;
        z-index: 2;
        transform: translateY(-50%);
        padding: 10px;
    }
}

//blog post detay
.blog-post-detail {
    .row-holder-1 {
        position: relative;
    }
    .row-1 {
        position: relative;
        text-align: center;
        &:after {
            content: "";
            background: url(/images/frontend/effect/footer-top.png) center center;
            background-size: cover;
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 20px;
        }
    }
    .row-2 {
        position: absolute;
        bottom: 55px;
        max-width: 600px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .row-3 {
        position: relative;
    }
    .post-img {
        display: block;
        width: 100%;
    }
    .post-cat {
        display: inline-block;
        font-family: $fontSite;
        font-size: 15px;
        color: $cl-purple;
        font-weight: 700;
        text-align: center;
        padding: 8px 25px;
        background: $cl-orange;
        border-radius: 20px;
    }
    .post-title {
        font-family: $fontSite;
        font-size: 40px;
        color: $cl-White;
        font-weight: 700;
        line-height: 1.2;
        text-shadow: 0px 1px 1px $cl-black;
        margin: 0;
    }
}
.post-content {
    font-family: $fontSite;
    font-size: 18px;
    color: $cl-defaultDark;
    font-weight: 500;
    line-height: 1.6;
    max-width: 680px;
    margin: 30px auto;
    > *:not(.full) {
        margin-left: 40px;
        margin-right: 40px;
    }
    //alıntı
    .quote {
        position: relative;
        padding: 10px 20px 15px;
        color: #939393;
        &:before {
            content:"";
            border-left: 5px solid #949494;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
        }
    }
    //liste
    ul.list-type-1 {
        > li {
            > .title {
                font-weight: 700;
                margin-bottom: 5px;
            }
            > .desc {
                margin-top: 5px;
            }
        }
    }
    //slider
    .post-slider {
        .swiper-button-prev {
            left: -60px;
        }
        .swiper-button-next {
            right: -60px;
        }
        .swiper-pagination-bullets {
            bottom: 20px;
        }
    }
}

//paylas
.post-share {
    position: absolute;
    left: 20px;
    top: 0;
    .title {
        font-family: $fontSite;
        font-size: 18px;
        color: $cl-purple;
        font-weight: 700;
    }
    .share-media {
        > a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            font-size: 23px;
            text-align: center;
            border-radius: 5px;
            color: $cl-White;
            width: 40px;
            height: 40px;
            margin-left: auto;
            margin-right: auto;
            &.twitter{
                background: #de5c7c;
            }
            &.facebook{
                background: #0bbcf0;
            }
            &.mail{
                background: #820096;
            }
            &.whatsapp{
                background: #a0d975;
            }
            &.unlink{
                background: #e780b7;
            }
        }
    }
}

//ilgili makaleler
.related-posts-holder{
    background: $cl-BG;
    .related-posts {
        padding-bottom: 30px;
        .blog-title {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .blog-post {
            margin-top: 0;
            margin-bottom: 0;
        }
        .swiper-pagination {
            display: none;
        }
    }
}

//ana sayfa blog postlar
.page-blog-v2 {
    .blog-post {
        .post-title {
            padding-right: 10px;
        }
    }
}

@media screen and (max-width: $breakpointSM){
    .urunPaging {
        margin-left: 25px;
        margin-right: 25px;
        .paging {
            margin-left: 2px;
            margin-right: 2px;
        }
        .paging[id$="lnkPrev"], .paging[id$="lnkNext"] {
            display: none;
        }
    }
    .page-blog {
        .icerikTemplateListeContainer {
            .icerikTemplateListeItem {
                width: calc(100% / 2);
            }
        }
    }
    .blog-post-detail {
        .row-2 {
            position: static;
            transform: none;
            max-width: none;
        }
        .row-3 {
            &.ems-container {
                margin-left: 0;
                margin-right: 0;
                width: auto;
            }
        }
        .post-title {
            font-size: 23px;
            color: $cl-purple;
            text-shadow: none;
        }
    }
    .post-content {
        .post-slider {
            .swiper-button-prev,
            .swiper-button-next {
                display: none;
            }
        }
    }
    .post-share {
        position: static;
        max-width: 600px;
        margin: 50px auto 20px;
        .share-media {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            > a {
                margin-left: initial;
            }
        }
    }

    //icerik kategori
    .icerikKategoriListe {
        > ul {
            justify-content: flex-start;
        }
    }
}

@media screen and (max-width: $breakpointXXS){
    .page-blog {
        .icerikTemplateListeContainer {
            .icerikTemplateListeItem {
                width: calc(100% / 1);
            }
        }
    }
    .blog-post {
        margin: 20px 35px;
        .post-title {
            font-size: 18px;
        }
    }
    .blog-post-detail {
        .row-2 {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .post-content {
        > *:not(.full) {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    .post-share {
        margin-left: 20px;
        margin-right: 20px;
    }


    .etiketListe {
        ul{
            li{
                > a{
                    font-size: 13px;
                    
                }
                &.cat-img{
                    a{
                        padding-left: 31px;
                        background-position: 6px center;
                        background-size: 18px;
                    }
                    &.cat-yurumeye-baslayan{
                        a{
                            font-size: 0;
                            &:before{
                                content:"Çocuk";
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}
