$hover: #333;

$facebook: #0bbcf0;
$facebook-hover: #0bbcf0;

$youtube: #4385f5;
$youtube-hover: #e8663c;

$instagram: #820096;
$instagram-hover: #820096;

$btn-color-1: #5c5c5c;
$btn-color-2: #cecece;

$disabled: #cecece;
$disabled-hover: #858585;

$text: #fff;

$cursor-width: 5px;
$radius2:50px;

.prd-btn-holder{
    .prd-btn{ display: inline-block; background-color: $colorBlueLight; font-family: $fontSite; font-size: 15px; font-weight: 700; color: $colorWhite; text-align: left; padding: 13px 50px 13px 30px; border-radius: 25px; position: relative;
        &:after{ content: "\e909"; display: inline-block; font-family: 'icomoon' !important; font-size: 13px; color: $colorPurple; position: absolute; top: 50%; transform: translateY(-50%); right: 18px; }
    }
}

@media screen and (max-width: $breakpointSM){
    .prd-btn-holder{
        .prd-btn{ width: 121px; padding: 6px 30px;
            &:after{ font-size: 8px; right: 12px; } 
        }
    }
}
