.ems-form{ display: flex; justify-content: center; margin-top: 37px;
    .ems-form-inner{ width: 815px; //height: 210px; column-count: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .ems-col{
            width: calc(50% - 7.5px);
            &.full-width{ width: 100%; }
        }
        .ems-field { width: 100%; position: relative; margin-bottom: 15px;
            .ems-form-label{ font-family: $fontSite; font-size: 15px; font-weight: 700; color: $colorDefaultDark; position: absolute; top: 18px;  left: 23px; z-index: 1; transition: all .2s ease-in-out; pointer-events: none; }
            .ems-form-obj input:not([type='checkbox']):not([type='radio']),
            .ems-form-obj textarea,
            .ems-form-obj select { width: 100% !important; height: 50px; padding-top: 10px; padding-left: 23px; padding-right: 23px; background: $colorInputBg; outline: 0; border: 0; border-radius: 10px; color: $colorDefaultDark; }
            .ems-form-obj textarea{ height: 115px; padding-top: 23px; resize: none; }
            .ems-form-obj input[id$="CEPTELEFONALAN"] {
                width: 20% !important;
                margin-right: 2%;
            }
            .ems-form-obj input[id$="CEPTELEFON"] {
                width: 78% !important;
            }
            &.is-active{
              .ems-form-label{ font-size: 11px;top: 6px; left: 23px; }
            }
            &.captcha{
                br{ display: none; }
                [id$="CaptchaImage1_divCaptcha"]{
                    display: flex;
                    #imgCaptcha{ order: 2; }
                    [id$="txtUYE_KONTROLKODU"]{
                        width: auto !important;
                        flex: 1;
                        margin-right: 15px;
                    }
                }
                [id$="lbfUYE_KONTROLKODU"]{ font-family: $fontSite; font-size: 15px; font-weight: 700; color: $colorWhite; position: absolute; top: 18px;  left: 23px; z-index: 1; transition: all .2s ease-in-out; pointer-events: none; }
                &.is-active{
                  [id$="lbfUYE_KONTROLKODU"]{ font-size: 11px;top: 6px; left: 23px; }
                }
            }
            &.mb0 {
                margin-bottom: 0;
            }            
        }
        .btn-field{ width: 100%; text-align: center;}
    }
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    box-shadow: 0 0 0 1000px #bababa inset;
}

input[type="checkbox"], input[type="radio"] {
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    padding: 0px;
}
[id$="BENIHATIRLA_FL"] {
    font-size: 15px;
    vertical-align: middle;
}
      
input:disabled, input:read-only {
    background: #bababa;
}

//MESSAGE SCSS
.ems-message-wrapper{
    width: 100%;
}
.ems-message{
    display: inline-block;
    width: 100%;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 15px;
    border: 1px solid;
    &.ems-message-success{
        background: #dff0d8;
        border-color: #d6e9c6;
        color: #3c763d;
    }
    &.ems-message-error{
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
    }
    &-loading{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,.3);
        z-index: 200;
        display: flex;
        justify-content: center;
        align-items: center;
        .spinner {
            width: 40px;
            height: 40px;
            position: relative;
            text-align: center;

            -webkit-animation: sk-rotate 2.0s infinite linear;
            animation: sk-rotate 2.0s infinite linear;
        }

        .dot1, .dot2 {
            width: 60%;
            height: 60%;
            display: inline-block;
            position: absolute;
            top: 0;
            background-color: $colorPurple;
            border-radius: 100%;

            -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
            animation: sk-bounce 2.0s infinite ease-in-out;
        }

        .dot2 {
            top: auto;
            bottom: 0;
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }

        @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
        @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

        @-webkit-keyframes sk-bounce {
            0%, 100% { -webkit-transform: scale(0.0) }
            50% { -webkit-transform: scale(1.0) }
        }

        @keyframes sk-bounce {
            0%, 100% {
              transform: scale(0.0);
              -webkit-transform: scale(0.0);
            } 50% {
              transform: scale(1.0);
              -webkit-transform: scale(1.0);
            }
        }
    }
}
