.ems-form{
    .ems-field + .ems-field{
        margin-top: 15px;
    }
    .ems-field{
        .ems-form-label{
            display: block;
            margin-bottom: 5px;
            font-family: $fontSite;
            font-size: 13px;
            font-weight: 500;
            color: $cl-purpleDark;
        }
        .ems-form-obj{
            input:not([type='checkbox']), select{
                width: 100% !important;
                height: 44px;
                padding: 0 15px;
                border-radius: 5px;
                background: $cl-InputBg !important;
                outline: 0 !important;
                border: 0 !important;
            }
            &[id$="plhUyelikBtnKaydet1"]{
                text-align: center;
                padding-top: 25px;
                .btnYeniUyeKaydet {
                    width: 256px;
                }
            }
            &[id$="plhBeniHatirla1"],
            &[id$="plhUyelikBultenChk1"],
            &[id$="plhUyelikSmsChk1"]{
                position: relative;
                display: flex;
                align-items: center;
                height: 20px;
                input[type="checkbox"]{
                    display: none;
                }
                .sStylerMainWrp{
                    display: inline-block;
                    .cStyler{
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        margin-right: 14px;
                        border-radius: 3px;
                        border: solid 2px #ededed;
                        background: $cl-White;
                        position: relative;
                        left: 0;
                        top: 0;
                        &:after{
                            content: "";
                            width: 12px;
                            height: 12px;
                            background: $cl-White;
                            position: absolute;
                            left: 2px;
                            top: 2px;
                        }

                        &.checked:after{
                            background: $cl-orange;
                        }
                    }
                }
            }
            &[id$="plhUyelikCaptcha1"]{
                [id$="divCaptcha"]{
                    text-align: center;
                    [id$="lbfUYE_KONTROLKODU"]{
                        display: block;
                        margin-top: 15px;
                        margin-bottom: 5px;
                        font-family: $fontSite;
                        font-size: 13px;
                        font-weight: 500;
                        color: $cl-purpleDark;
                        text-align: left;
                    }
                    br{
                        display: none;
                    }
                }
            }
        }

        &.submit > .kutuUyeGirisFacebookConnect *{
            width: 100% !important;
        }
        .forgot-password{
            margin-top: 0 !important;
        }
        &.submit.mwk{
            margin-top: 30px;
        }
    }
}

.fb-holder{
    margin-bottom:20px;
}
