$header-height: 70px;

@at-root {
    //logoff
    .ems-logoff {
        .mod-mini-login .sub.login {
            display: none !important;
        }
    }
    //login
    .ems-login {
        .mod-mini-login .sub.logoff {
            display: none !important;
        }
    }
}

.main-header{
    background-color: $cl-White;
    position: relative;
    z-index: 25;
    box-shadow: 0 2px 5px 0 rgba(109, 50, 138, 0.2);
    /*
    &:before{
        content: "";
        display: inline-block;
        position: absolute;
        z-index: 1;
        height: 5px;
        background: rgba(0, 0, 0, 0.15);
        left: 0;
        right: 0;
        bottom: -5px;
    }*/
    .logo{
        width: 166px;
        height: $header-height;
        > div {
            display: flex;
            height: 100%;
        }
        .header-logo-wrapper{
            width: 100%;
            height: 100%;
        }
        .header-logo{
            display: flex;
            align-items: center;
            height: 100%;
            a{
                width: 100%;
                display: flex;
            }
            a img{
                display: inline-block;
                width: 100%;
            }
            a img.mobile-logo{
                display: none;
            }
        }
    }

    //Header Menu
    .menu{
        max-width: calc(100% - 300px);
        
        .header-menu{
            ul.menuNav{
                display: flex;
                flex-wrap: wrap;
                height: $header-height;
                > li{
                    display: none;
                    padding: 0 12.5px;
                    &.dh-item{
                        display: flex;
                    }
                    > a{
                        display: flex;
                        align-items: center;
                        white-space: nowrap;
                        font-family: $fontSite;
                        font-weight: 700;
                        font-size: 18px;
                        color: $cl-purple;
                        position: relative;
                        transition: all .4s cubic-bezier(.8, 0, .5, 1);
                        &:after{
                            content: "";
                            display: inline-block;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 0px;
                            background: $cl-pink;
                            transition: all .4s cubic-bezier(.8, 0, .5, 1);
                        }
                        &:hover{
                            color: $cl-pink;
                            &:after{
                                height: 5px;
                            }
                        }
                    }
                    .sub-wrapper{
                        display: none;
                        position: absolute;
                        background-color: $cl-White;
                        max-height: 265px;
                        top: 70px;
                        left: 0;
                        right: 0;
                        &:before{
                            content: "";
                            display: inline-block;
                            height: 5px;
                            position: absolute;
                            left: 0;
                            right: 0;
                            z-index: 6;
                        }
                        &:after{
                            content: "";
                            display: inline-block;
                            height: 20px;
                            width: 100%;
                            background-image: url(/images/frontend/effect/footer-top.png);
                            transform: rotate(180deg);
                            position: absolute;
                            bottom: -19px;
                            z-index: 5;
                        }
                    }
                    // Sub Menu START
                    .sub-menu{
                        display: flex;
                        justify-content: space-between;
                        padding-left: 13%;
                        ul.subNav{
                            padding: 30px 0;
                            li{
                                a{
                                    font-family: $fontSite;
                                    font-size: 15px;
                                    font-weight: 500;
                                    line-height: 2.13;
                                    color: $cl-purple;
                                }
                            }
                        }
                    }
                    // Sub Menu END
                    .banner-img{
                        width: 375px;
                    }
                }
            }
            .social-media{
                display: none;
            }
        }

        //mini login
        .mod-mini-login { display: none; }
    }

    // Header Search and Login
    .sealog{
        position: relative;
    }
    
    //mini login
    .mod-mini-login {
        .sub {
            position: relative;
            &.logoff {
                .btn-login {
                    margin: 15px 0;
                    padding-left: 16px;
                    padding-right: 16px;
                    &:after{
                        color: $cl-orange;
                    }
                }
                .ems-form {
                    display: none;
                }
            }

            &.login {
                .ems-user-info {
                    position: relative;
                    font-family: $fontSite;
                    font-size: 15px;
                    font-weight: bold;
                    color: $cl-purple;

                    display: flex;
                    height: 70px;
                    padding-left: 8px;
                    [id$="lbfUYE_SAYIN"]{
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        > span{
                            display: inline-block;
                        }
                        [id$="lblUYE_ADSOYAD"]{
                            margin-left: 5px;
                            max-width: 70px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                    .mini-login-ico{
                        position: relative;
                        margin-left: 5px;
                        display: flex;
                        align-items: center;
                        &:before{
                            @extend [class^="icon-"];
                            @extend .icon-oval-full:before;
                            color: $cl-purple;
                            font-size: 30px;
                        }
                        &:after{
                            @extend [class^="icon-"];
                            @extend .icon-tri-down:before;
                            color: $cl-orange;
                            font-size: 10px;

                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) rotate(0deg);
                            transition: all .4s cubic-bezier(.8, 0, .5, 1);                                
                        }
                    }
                    .btn-profile {
                        display: none;
                    }

                    &:after{
                        content: "";
                        display: inline-block;
                        width: 100%;
                        height: 0px;
                        background: $cl-pink;

                        position: absolute;
                        left: 0;
                        bottom: 0;
                        z-index: 1;
                        transition: all .4s cubic-bezier(.8, 0, .5, 1);
                    }
                    
                }
                .ems-user-pages {
                    position: absolute;
                    right: 0;
                    width: 100%;
                    min-width: 215px;
                    background: #fff;
                    border-radius: 0 0 5px 5px;
                    padding: 15px 38px 24px 44px;
                    transition: all .3s cubic-bezier(.8, 0, .5, 1);
                    height: 0;
                    overflow: hidden;
                    visibility: hidden;
                    box-shadow: 1px 2px 5px 0 rgba(93, 64, 108, 0.4);
                    a{
                        font-family: $fontSite;
                        font-size: 0px;
                        font-weight: 500;
                        line-height: 2.33;
                        color: $cl-purple;
                        transition: all .3s cubic-bezier(.8, 0, .5, 1);
                        &:hover{
                            color: $cl-pink;
                        }
                        &.btnKutuLogout{
                            background: 0;
                            padding: 0;
                            display: block;
                            border-radius: 0;
                            &:after{
                                content: none;
                            }
                        }
                    }
                }
                [id$="lbfkutuUyeGiris2"] {
                    display: none;
                }
            }
        }
        &.opened{
            .sub {
                &.login {
                    .ems-user-info {
                        [id$="lbfUYE_SAYIN"]{
                            > span{
                            }
                            [id$="lblUYE_ADSOYAD"]{
                            }
                        }
                        &:after{
                            height: 5px;
                        }
                        .mini-login-ico{
                            &:after{
                                transform: translate(-50%, -50%) rotate(180deg);
                            }
                        }
                        
                    }
                    .ems-user-pages {
                        height: 179px;
                        overflow: initial;
                        visibility: visible;
                        a{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        .mod-mini-login-header,
        .mod-mini-login-footer {
            display: none !important;
        }
    }
}


@media screen and (max-width: $breakpointSM){
    body{
        padding-top: 60px;
    }
    .main-header{
        position: fixed;
        top:0;
        width: 100%;
        background: $cl-White;
        z-index: 500;
        .header{
            margin: 0 12px;
        }

        .logo{
            width: auto;
            flex: 1;
            height: 60px;
            .header-logo-wrapper{
                display: flex;
                height: 60px;
                align-items: center;
                width: 100%;
            }

            //logo
            .header-logo{
                position: initial;
                flex: 1;
                a{
                    width: initial;
                    img{
                        width: 110px;
                    }
                }
            }
        }
        // Mobil Menu Wrapper
        .mbHeader{
            display: inline-block;
            margin-top: 12px;
            //Mobile Menu Button
            .mbMenu{
                position: relative;
                z-index: 200;
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:before{
                    content: "\e903";
                    font-family: 'icomoon' !important;
                    color: $cl-purple;
                    font-size: 36px;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                i{
                    position: relative;
                    z-index: 1;
                    color: $cl-orange;
                    font-size: 0;
                    &:before{
                        font-size: 13px;
                    }
                    &.icon-close{ display: none; }
                }
            }
        }
        
        .header-menu-wrapper{
            display: none;
            position: fixed;
            background-image: url(/images/frontend/mobile-menu-bg.png);
            background-size: cover;
            background-position-x: right;
            background-repeat: no-repeat;
            left: -100%;
            width: 83%;
            height: 100vh;
            z-index: 200;
            transition: all .4s cubic-bezier(.8, 0, .5, 1);


            //mini login
            .mod-mini-login {
                display: block;
                .mod-mini-login-body{
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #9e4fc4;
                }
                .sub {
                    &.logoff {
                        .btn-login {
                            background: $cl-blueLight;
                            display: flex;
                            margin: 0;
                            border-radius: 25px;
                            &:after{
                                margin-left: auto;
                            }
                        }
                        .ems-form {
                        }
                    }

                    &.login {
                        .ems-user-info {
                            margin: 0;
                            padding: 0;
                            width: 100%;
                            background: none;
                            position: relative;
                            display: flex;
                            align-items: center;
                            height: 34px;
                            [id$="lbfUYE_SAYIN"]{
                                width: 100%;
                                color: $cl-White;
                            }
                            .mini-login-ico{
                                &:before{
                                    color: $cl-blueLight;
                                    font-size: 33px;
                                }
                                &:after{
                                    color: $cl-orange;
                                    font-size: 12px;                          
                                }
                            }
                        }
                        .ems-user-pages {
                            height: auto !important;
                            overflow: initial !important;
                            visibility: visible !important;
                            display: none;
                            padding: 5px 20px 0px 23px;
                        }
                    }
                }
                &.opened{
                    .sub {
                        &.login {
                            .ems-user-info {
                                &:after{
                                    height: 0px;
                                }
                                .mini-login-ico{
                                    &:after{
                                        transform: translate(-50%, -50%) rotate(180deg);
                                    }
                                }
                                
                            }
                            .ems-user-pages {
                                position: initial;
                                background: none;
                                display: block;
                                a{
                                    color: $cl-White;
                                }
                            }
                        }
                    }
                }
            }
        }

        //Header Menu
        .menu{
            max-width: 100%;
            .header-menu{
                padding: 0px 40px 0px 30px;
                margin: 20px 0 65px;
                height: calc(100vh - 105px);
                overflow: auto;
                ul.menuNav{
                    height: auto;
                    > li{
                        display: none;
                        width: 100%;
                        padding: 0;
                        margin: 15px 0;
                        flex-wrap: wrap;
                        &.mn-item{
                            display: flex;
                        }
                        > a{
                            color: $cl-White;
                            font-size: 15px;
                            
                            &:hover{
                                color: $cl-White;
                            }
                        }
                        &.sub-menu{
                            > a {
                                justify-content: space-between;
                                width: 100%;
                                &::after{
                                    content: "+";
                                    display: inline-block;
                                    font-size: 13px;
                                    color: $cl-orange;
                                    position: initial;
                                    width: auto;
                                    height: auto;
                                    background: none;
                                }
                            }
                        }
                        .sub-wrapper{
                            display: none;
                            position: static;
                            background-color: none;
                            max-height: auto;
                            &:before,
                            &:after{
                                content: none;
                            }
                        }
                        // Sub Menu START
                        .sub-menu{
                            padding-left: 0;
                            ul.subNav{
                                li{
                                    a{
                                        font-family: $fontSite;
                                        font-size: 15px;
                                        font-weight: 500;
                                        line-height: 2.13;
                                        color: $cl-purple;
                                    }
                                }
                            }
                        }
                        // Sub Menu END
                        .banner-img{
                            width: 375px;
                        }
                        &.selected{
                            box-shadow: inset 0 0px 0 0 $cl-orangeDark;
                            &.sub-menu > a::after{
                                content: "-";
                            }
                            .sub-wrapper{
                                display: block;
                                max-height: initial;
                                background: none;
                                width: 100%;
                               .sub-menu-wrp{
                                   width: 100%;
                                   ul.subNav{
                                       padding: 20px 0 0 13px;
                                       width: 100%;
                                       li{
                                           display: block;
                                           margin-bottom: 25px;
                                           a{
                                               display: flex;
                                               align-items: center;
                                               color: $cl-White;
                                               font-weight: 500;
                                               i{
                                                   font-size: 0;
                                                   color: $cl-orange;
                                                   margin-right: 12px;
                                                   width: 20px;
                                                   height: 20px;
                                                   display: flex;
                                                   justify-content: center;
                                                   &:before{
                                                        font-size: 20px;
                                                   }
                                               }
                                            }
                                       }
                                   }
                               }
                               .banner-img{
                                   display: none;
                                }
                            }
                        }
                    }
                }
                .social-media{
                    display: block;
                }
            }
        }

        .sealog{
            width: 36px;
        }
        
        .mod-mini-login {
            display: none;
        }
    }
}


.mobi-menu-ready{
    overflow: hidden;    
    .header-menu-wrapper:before{
        content: "";
        display: inline-block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.2);
        z-index: -1;
    }
    /*.header-menu-wrapper .mbBack,*/
    .header-menu-wrapper{
        display: inline-block;
    }
    .main-header .mbHeader .mbMenu{
        .icon-menu{ display: none; }
        .icon-close{ display: inline-block; }
    }
}
.mobi-menu-animate{
    .header-menu-wrapper{
        left:0;
    }
}



// DİL DEĞİŞKENLERİ
.cbf-likedPost:before{
    content:"Beğendiğim Yazılar";
}
.cbf-password:before{
    content:"Şifremi Değiştir";
}