.page-product-detail{
    position: relative;
}
.product-detail-wrapper{
    display: inline-block;
    width: 100%;
    position: relative;
    .img-cover{
        //width: 100%;
    }
    .prd-cover{
        display: inline-block;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 100%;
        //background-size: auto 100%;
        background-position: 65% 0;
        background-repeat: no-repeat;
    }
    .prd-content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .prd-detail{
        margin-top: 220px;
    }
    .prd-info{
        margin-bottom: 123px;
        .prd-title{
            font-family: $fontSite2;
            font-size: 65px;
            color: $cl-purple;
            margin-bottom: 10px;
        }
        .prd-desc{
            max-width: 300px;
            font-family: $fontSite;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.56;
            color: $cl-purple;
            max-height: 138px;
            overflow: hidden;
        }
        .prd-btn-holder{
            &:not(:empty){
                margin-top:68px;
            }
            .btn{
                min-width: 240px;
            }

        }
    }
    .prd-img{
        margin-bottom: 70px;
        img{
            max-height: 270px;
        }
    }
}

.product-video-holder{
    margin-top: 40px;
    margin-bottom: 90px;
    .prd-video-holder{
        max-width: 1000px;
        margin: 0 auto;
    }
}

.product-set{
    padding-top: 35px;
    padding-bottom: 75px;
    background: $cl-pinkLight;
    
    @include effect-top('pink-light', -19px );

    .title{
        display: block;
        text-align: center;
        font-family: $fontSite2;
        font-size: 65px;
        line-height: 85px;
        color: $cl-purple;
    }
    .prd-sets{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        li{
            margin-top: 25px;
            margin-bottom: 25px;
            .img{
                display: block;
                text-align: center;
                img{
                    width: 130px;
                }
            }
            .desc{
                width: 230px;
                font-family: $fontSite;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.43;
                color: $cl-purpleDark;
                text-align: center;
                margin: 17px auto 0;
            }
        }
        &.grid-tree li { width: 33.3%; }
        &.grid-four li { width: 25%; }
    }

    //THEME
    &.bedenler{
        background: $cl-purpleDark;
        @include effect-top-pointed('purple-dark', -29px );

        .title{
            color: $cl-White; 
        }
        .prd-sets{
            justify-content: center;
            flex-wrap: nowrap;
            li{
                padding: 0 20px;
            }
        }
    }
}


@media screen and (max-width: $breakpointSM){
    .page-product-detail{
        padding-top: 50px;
    }

    .product-detail-wrapper{
        margin-bottom: 40px;
        > .img-cover{
            display: none;
        }
        .prd-cover{
            position: initial;
            background-size: auto 100%;
        }
        .prd-content{
            position: initial;
        }
        .prd-detail{
            display: flex;
            flex-wrap: wrap;
            margin-top: -30px;
            padding: 0 15px;
        }
        .prd-info{
            width: 100%;
            text-align: center;
            margin-bottom: 0px;
            order: 2;
            .prd-title{
                font-size: 35px;
                margin-bottom: 15px;
            }
            .prd-desc{
                font-size: 15px;
                font-weight: 500;
                line-height: 1.53;
            }
            .prd-btn-holder{
                &:not(:empty){
                    margin-top:31px;
                }
                .btn{
                    min-width: 240px;
                }
    
            }
        }
        .prd-img{
            margin-bottom: 30px;
            order: 1;
        }
    }

    .product-video-holder{
        margin-top: 30px;
        margin-bottom: 44px;
        margin-left: -5px;
        margin-right: -5px;
    }


    .product-set{
        .title{
            font-size: 30px;
            line-height: 40px;
        }
        .prd-sets{
            li{
                width: 100%;
                margin-top: 15px;
                margin-bottom: 15px;
                .desc{
                    font-size: 14px;
                }
            }
            &.grid-tree li { width: 100%; }
            &.grid-four li { width: 100%; }
        }

        //THEME
        &.bedenler{
            .title{
                margin-bottom: 22.5px;
            }
            .prd-sets{
                flex-wrap: wrap;
                li{
                    width: calc(25% - 15px);
                    padding: 0;
                    margin: 7.5px;
                    .img{
                        display: block;
                    }
                }
            }
        }
    }
}
