.page-product-list{
    position: relative;
    //Sayfalama
    .urunPaging{
        &.icerikListePagingUst,
        &.icerikListePagingAlt{
            display: none;
        }
    }
    + .main-footer{
        padding-top: 30px;
        &:before{
            content: none;
        }
    }
}

.page-product-list{
    .icerikTemplateListeContainer{
        margin-top: -350px;
        .icerikTemplateListeItem{
            &:nth-child(even){
                direction: rtl;
                .product-list-item{
                    .pli-wrapper{
                        .prd-info{
                            direction: ltr;
                        }
                    }
                } 
            }
        }
        .icerikTemplateListeEtiket{
            display: none;
        }
    }
}

.product-list-item{
    padding: 50px 0 70px;
    //background-color: $cl-White;
    position: relative;
    &:before{
        content: "";
        //background: url(/images/frontend/effect/white-top.png);
        background-size: cover;
        position: absolute;
        top: -19px;
        left: 0;
        right: 0;
        height: 20px;
    }

    .pli-wrapper{
        display: flex;
        justify-content: space-around;
        .prd-img{
            text-align: center;
            width: calc(50% - 50px);
            .prd-title{
                display: none;
                font-family: $fontSite2;
                font-size: 30px;
                color: $cl-purple;
                margin-top: 8px;
                margin-bottom: 28px;
            }
            .product-set{
                background: none;
                padding: 40px 0 0;
                &:before{
                    content: none;
                }
                .prd-sets{
                    justify-content: center;
                    li{
                        margin: 0 25px;
                        max-width: 80px;
                    }
                }
            }
        }
        .prd-info{
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            .prd{
                &-title{
                    font-family: $fontSite2;
                    font-size: 65px;
                    color: $cl-purple;
                }
                &-desc{
                    font-family: $fontSite;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 1.67;
                    color: $cl-default;
                    margin-top: 15px;
                }
                &-btn-holder{
                    margin-top: 30px;
                }
            }
        }
    }
    // THEME
    &.theme{
        &-1{ background-color: #efe6fb;
            &:before{ background: url(/images/frontend/effect/theme-1.png); }
        }
        &-2{ background-color: #faf1d4;
            &:before{ background: url(/images/frontend/effect/theme-2.png); }
        }
        &-3{ background-color: #eef8df;
            &:before{ background: url(/images/frontend/effect/theme-3.png); }
        }
        &-4{ background-color: #ffd0dc;
            &:before{ background: url(/images/frontend/effect/theme-4.png); }
        }
        &-5{ background-color: #fae2e8;
            &:before{ background: url(/images/frontend/effect/theme-5.png); }
        }
    }
}

/*
açik mor    #efe6fb
açik sari   #faf1d4
açik yeşik  #eef8df
pempe       #ffd0dc
açik pempe  #fae2e8
*/



@media screen and (max-width: $breakpointSM){
    .page-product-list{
        padding-top: 50px;
        .icerikTemplateListeContainer{
            margin-top: 0;
        }
        + .main-footer{
            padding-top: 0;
            .hbcb{
                margin-top: 0;
            }
        }
    }

    .product-list-item{
        padding: 10px 10px 50px;
        .pli-wrapper{ flex-wrap: wrap;
            .prd-img{ text-align: center; width: 100%;
                .prd-title{ display: block; text-align: center; margin-bottom: 10px; }
                .product-set{
                    .prd-sets{ flex-wrap: nowrap; justify-content: space-around;
                        li{ margin: 0px;
                            img{ width: 60px; }
                        }
                    }
                }
            }
            .prd-info{ width: 100%; justify-content: center; text-align: center;
                .prd{
                    &-title{ display: none; }
                    &-desc{ margin-top: 0; }
                }
            }
        }
    }
}
