//icomoon

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vimeo:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e90f";
}
.icon-pause:before {
  content: "\e90d";
}
.icon-menu:before {
  content: "\e90a";
}
.icon-elips:before {
  content: "\e90b";
}
.icon-close:before {
  content: "\e90c";
}
.icon-instagram:before {
  content: "\e900";
}
.icon-oval-dotted:before {
  content: "\e901";
}
.icon-oval:before {
  content: "\e902";
}
.icon-oval-full:before {
  content: "\e903";
}
.icon-youtube:before {
  content: "\e904";
}
.icon-heart:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-phone:before {
  content: "\e909";
}
.icon-tri-right:before {
  content: "\e90e";
}
.icon-tri-left:before {
  content: "\e910";
}