// General Definations
//test $baseHref: '//canbebe.proj-e.com/';
//canlı
$baseHref: '';

// Typography
$fontDefault        : "arial";
$fontSite           : "Museo Sans";
$fontSite2          : "VerveineCorp";
$fontSizeDefault    : 12px;

// Colors
$cl-default     : #a9a9a9;
$cl-defaultLight: #e9e9e9;
$cl-defaultDark : #424242;
$cl-purple      : #820096;
$cl-purpleDark  : #6d328a;
//$cl-purpleDark  : #5d277e;
$cl-pink        : #de5c7c;
$cl-pinkLight   : #ffd0dc;
$cl-blueLight   : #0bbcf0;
$cl-orange      : #f9c803;
$cl-orangeDark  : #e8663c;
$cl-White       : #ffffff;
$cl-black       : #000000;
$cl-grey        : #727272;

$cl-InputBg     : #eaeaea;
$cl-InputBg2    : #e0b400;

$cl-BG          : #fafafa;

$cl-success     : #3c763d;
$cl-successBg   : #dff0d8;
$cl-successBr   : #d6e9c6;

$cl-error       : #a94442;
$cl-errorBg     : #f2dede;
$cl-errorBr     : #ebccd1;


// Layout
$siteContainerWidth: 1200px;
$siteContainerWidthFull: 1440px;
$singleOuter: 15px;
$singleOuterMobile: 20px;

//breakpoints
$laptop-l:  1440px + 1;
$laptop-m:  1270px + 1;
$tablet-p:  1024px + 1;
$tablet:    768px + 1;
$mobile-p:  765px + 1;
$mobile-l:  425px + 1;
$mobile-m:  375px + 1;
$mobile-s:  320px + 1;


@mixin effect-top($image, $psz ) {
    position: relative;
    &:before{
        content: "";
        display: inline-block;
        width: 100%;
        height: 20px;
        background-image: url('/images/frontend/effect/top-'+ $image +'.png');
        background-size: cover;
        position: absolute;
        top: $psz;
        left: 0;
        z-index: 5;
    }
}

@mixin effect-top-pointed($image, $psz ) {
    position: relative;
    &:before{
        content: "";
        display: inline-block;
        width: 100%;
        height: 30px;
        background-image: url('/images/frontend/effect/top-'+ $image +'-pointed.png');
        background-size: cover;
        position: absolute;
        top: $psz;
        left: 0;
        z-index: 5;
    }
}

@mixin effect-bottom($image, $psz ) {
    position: relative;
    &:after{
        content: "";
        display: inline-block;
        width: 100%;
        height: 20px;
        background-image: url('/images/frontend/effect/top-'+ $image +'.png');
        background-size: cover;
        position: absolute;
        bottom: $psz;
        left: 0;
        z-index: 5;
        transform: rotate(180deg);
    }
}


.kutuDefault.kutuArama{
    display: none !important;
}